{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Blog Api</title>
</head>
<body>
    <h1>Welcome to Hackthon 2</h1>
    <p>This is a Blog webpage.</p>
  {{results}}
  <h1>Random Pet</h1>
  <p>Random Dog breed reared within the globe</p>
 <p >{{result2}} </p>
  
  
    <img src={{result2}} alt="random pet" />

 

</body>
</html>
